name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt update && sudo apt install -y libyaml-cpp-dev libgtest-dev cmake

      - name: Build GTest
        run: |
          cd /usr/src/gtest
          sudo cmake .
          sudo cmake
          sudo cp lib/*.a /usr/lib

      - name: Set up CMake
        run: |
          rm -rf build  # 既存のキャッシュを削除
          mkdir build
          cd build
          cmake ..
          make

      - name: Testing
        run: |
          cd build
          ctest --output-on-failure
