name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check_out
        uses: actions/checkout@v4

      - name: CMake-Set_up
        run: |
          mkdir -p build
          cd build
          cmake ..
          make

      - name: Testing
        run: |
          cd build
          ctest --output-on-failure